<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	   <preference for="Magento\Quote\Observer\Webapi\SubmitObserver" type="PinelabsLtd\PluralXTGateway\Observer\PineSendEmailObserver" />
	   
	    <preference for="Magento\Checkout\Controller\Onepage\Failure" type="PinelabsLtd\PluralXTGateway\Observer\PluralXTFailure" />
</config>
